:root {
  --primary-color: rgb(255, 111, 0);
  --primary-faded: rgba(255, 111, 0, .4);
  /* used for website name and major titles/headings */
  --secondary-color: rgb(3, 4, 94);
  --secondary-faded: rgba(3, 4, 94, .7);
  /* --secondary-color: 3, 4, 94; */
  /* used for backgrounds and emphasis with primary color */
  --font-color: #e7e7e7;
  /* used for text color and whitespace*/
  --font: "Playfair Display", serif;
  /* general font to be used with all text on the website */
}

* {
  font-family: var(--font);
  color: var(--font-color);
}


/* ===== Header ===== */

header {
  max-width: 1200px;
  margin: 0 auto;
  background-color: var(--secondary-color);
  padding: 20px;
  text-align: center;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.logo {
  width: 150px;
  margin: -30px;
  position: absolute;
  left: 0;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 5px;
}

a {
  text-decoration: none;
  font-size: 1.5em;
  transition: 0.2s;
}

a:hover {
  text-decoration: overline underline ;
  font-size: 1.7em;
}

ul {
  list-style: none;
}


/* ===== Main ===== */

main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 1fr;
  background-color: var(--font-color);
}

  /* == movie templates == */

.media-grid {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  display: grid;
  margin: 3rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.media-box {
  grid-column: span 1;
  grid-row: span 1;
  border: 4px solid var(--secondary-color);
  border-radius: 20px;
  background-color: var(--secondary-faded);
  margin: 2rem;
  padding: 15px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 1fr);
  align-items: center;
  justify-items: center;
  height: 600px;
}

.media-box h2 {
  grid-column: span 1;
  grid-row: 1 / 2;
  padding: 5px;
  border: 2px solid var(--primary-color);
  background-color: var(--primary-faded);
  border-radius: 10px;
  text-align: center;
}

.media-box img {
  grid-column: span 1;
  grid-row: 2 / span 3;
  height: 100%;
  border: solid 2px var(--font-color);
  border-radius: 5px;
  margin-bottom: 10px;
}

.description {
  grid-column: span 1;
  grid-row: 5 / 6;
  /* padding: 30px 0; */
}

  /* == side boxes */

#popular {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

#jump-in {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.side-box {
  background-color: var(--secondary-faded);
  border: 4px solid var(--secondary-color);
  border-radius: 20px;
  margin: auto;
  padding: 15px;
}

.side-box li {
  list-style: none;
  margin-top: 15px;
  font-size: 0.8rem;
}


/* ===== categories.html ===== */

.tags {
  /* margin-top: 150px; */
  grid-row: 1 / 2;
  align-self: start;
  margin: 0 auto;
}

.tags h2{
  margin: 10px 45px;
}

.tags li {
  text-decoration: none;
  font-size: 1em;
  transition: 0.2s;
  margin-left: 30px;
}

.tags li:hover {
  text-decoration: overline underline ;
  font-size: 1.5em;
}

#clear-btn {
  background-color: var(--primary-faded);
  border: solid 3px var(--primary-color);
  border-radius: 50px;
  margin-left: 50px;
}


/* ===== search.html ===== */
form {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: 2fr 1fr 1fr 2fr;
  background-color: var(--secondary-faded);
  border: solid 5px var(--secondary-color);
  border-radius: 20px;
  /* margin: 50px auto; */
  margin-top: 100px;
  padding: 10px;
}

form h2 {
  grid-column: 1 / span 2;
  grid-row: 1 / span 1;
}

form hr {
  grid-column: 1 / span 2;
  grid-row: 2 / span 1;
  height: 0;
  width: 100%;
}

label {
  text-align: right;
  align-self: center;
  margin-right: 10px;
}

select {
  background-color: var(--primary-faded);
  border: solid 3px var(--primary-color);
  border-radius: 10px;
  margin: 5px;
  text-wrap: wrap;
  /* align-self: center; */
}

#media-label {
  grid-column: 1 / span 1;
  grid-row: 3 / span 1;
}

#media-dropdown {
  grid-column: 2 / span 2;
  grid-row: 3 / span 1;
}

#name-label {
  grid-column: 1 / span 1;
  grid-row: 4 / span 1;
}

#media-name {
  grid-column: 2 / span 2;
  grid-row: 4 / span 1;
}

option {
  background-color: var(--secondary-faded);
  text-wrap: wrap;
  overflow-wrap: break-word;
}  

.solo-display {
  grid-column: span 2;
  grid-row: span 2;
  grid-template-columns: 1fr 1fr;
  /* grid-template-rows: repeat(7, 1fr); */
  height: 700px;
}

.solo-display h2 {
  grid-column: span 2;
}

.solo-display .description {
  grid-column: 2 / span 1;
  grid-row: 2 / span 2;
  padding: 20px;
}

.solo-display img {
  grid-row: 2 / span 3;
}

.tag-list {
  grid-column: 1 / span 2;
  grid-row: 5 / span 1;
}



/* ===== Footer ===== */

footer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: block;
  background-color: var(--secondary-color);
  text-align: center;
}



/* ===== siteplan ===== */

.primary {
  color: var(--primary-color);
  background-color: var(--secondary-color);
  width: 560px;
}

.secondary {
  color: var(--secondary-color);
}

.accent {
  color: var(--accent-color);
  background-color: var(--secondary-color);
  width: 290px;
}

